In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv(r"C:\Users\asus\Downloads\covid_toy - covid_toy.csv")

In [7]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [8]:
df.tail()

    age  gender  fever   cough       city has_covid
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

In [9]:
df.sample(5)

    age  gender  fever   cough       city has_covid
56   71    Male    NaN  Strong    Kolkata        No
70   68  Female  101.0  Strong      Delhi        No
6    14    Male  101.0  Strong  Bangalore        No
74   34  Female  104.0  Strong      Delhi        No
92   82  Female  102.0  Strong    Kolkata        No

In [10]:
df.groupby(df['gender'])['has_covid'].value_counts()

gender  has_covid
Female  No           34
        Yes          25
Male    No           21
        Yes          20
Name: count, dtype: int64

In [11]:
df.groupby(df['city']).size()

city
Bangalore    30
Delhi        22
Kolkata      32
Mumbai       16
dtype: int64

In [12]:
# check missing value
# fill missing value
# transfe all ctg to numerical using map 
# based on the target column devide your data and perform train test split

In [13]:
df.isna().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [14]:
df['fever']= df['fever'].fillna(df['fever'].mean())

In [15]:
df.sample(10)

    age  gender  fever   cough       city has_covid
88    5  Female  100.0    Mild    Kolkata        No
52   47  Female  100.0  Strong  Bangalore       Yes
46   19  Female  101.0    Mild     Mumbai        No
1    27    Male  100.0    Mild      Delhi       Yes
65   69  Female  102.0    Mild  Bangalore        No
84   69  Female   98.0  Strong     Mumbai        No
60   24  Female  102.0  Strong  Bangalore       Yes
98    5  Female   98.0  Strong     Mumbai        No
37   55    Male  100.0    Mild    Kolkata        No
61   81  Female   98.0  Strong     Mumbai        No

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      100 non-null    float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [17]:
df['gender'] = df['gender'].map({'Male':1,'Female':0})

In [18]:
df['cough']=df['cough'].map({'Mild':0,'Strong':1})

In [19]:
df['city'] = df['city'].map({'Kolkata':1,'Delhi':2,'Mumbai':3,'Bangalore':4})

In [20]:
df['has_covid'] = df['has_covid'].map({'Yes':1,'No':0})

In [21]:
x = df.drop(columns=['has_covid'])

In [22]:
y = df['has_covid']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train , y_test = train_test_split(x,
y,
test_size=0.3,
random_state=40)

In [25]:
print("Total shape of df:", df.shape)
print("------------------------------------")
print("Input data shape:", x.shape)
print("x_train data shape:", x_train.shape)
print("x_test data shape:", x_test.shape)
print("---------------------------------")
print("Target data shape:", y.shape)
print("y_train data shape:", y_train.shape)
print("y_test data shape:", y_test.shape)

Total shape of df: (100, 6)
------------------------------------
Input data shape: (100, 5)
x_train data shape: (70, 5)
x_test data shape: (30, 5)
---------------------------------
Target data shape: (100,)
y_train data shape: (70,)
y_test data shape: (30,)

In [ ]:
# NORMAL DISTRIBUTION :- 
    # it is a way to convert our data into smaller size without changing its central tendencies
    # we make sure half the data is on left side and 
    # the other half is on the right side of the central values

In [ ]:
# Example for understanding:-

# Age = 1,2,3,4,5
# mean= (1+2+3+4+5)/5 = 15/5 = 3
# std = sqrt(sum(xi-mean)**2/N)
# sqrt((1-3)**2 + (2-3)**2 + (3-3)**2 + (4-3)**2 + (5-3)**2)/5
# sqrt(4+1+0+1+4)/5 = sqrt(2) = 1.2  = 1

# standrd deviation  = (x_current - mean)/standard_deviation
# Age' = (1-3)/1 = -2  , (2-3)/1 = -1 , (3-3)/1 = 0 , (4-3)/1 = 1 , (5-3)/1 = 2
# Age' = -2,-1,0,1,2
# mean = (-2-1+0+1+2)/5 = 0
# std = 1

In [ ]:
# for converting our data into Normal Distribution we will use StandardScaler
# this process is called as standarization

In [ ]:

from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()       # creating object of the class

In [ ]:
x_train_sc = sc.fit_transform(x_train)      # performing standarization with a class called fit tranform
    # but this results an array and we need a DATA FRAME

In [ ]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)  # converting it into df

In [ ]:
np.round(x_train_new.describe() , 2)        # now the mean and std daviation is same for all columns

         age  gender  fever  cough   city
count  70.00   70.00  70.00  70.00  70.00
mean   -0.00    0.00  -0.00   0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.51   -0.87  -1.43  -0.92  -1.28
25%    -0.91   -0.87  -0.91  -0.92  -1.28
50%    -0.12   -0.87   0.07  -0.92   0.36
75%     1.01    1.15   0.67   1.09   1.19
max     1.62    1.15   1.73   1.09   1.19