In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset('tips')

In [3]:
df.sample(10)

     total_bill   tip     sex smoker   day    time  size
159       16.49  2.00    Male     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
141       34.30  6.70    Male     No  Thur   Lunch     6
108       18.24  3.76    Male     No   Sat  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
207       38.73  3.00    Male    Yes   Sat  Dinner     4
192       28.44  2.56    Male    Yes  Thur   Lunch     2
153       24.55  2.00    Male     No   Sun  Dinner     4
93        16.32  4.30  Female    Yes   Fri  Dinner     2
224       13.42  1.58    Male    Yes   Fri   Lunch     2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [5]:
# check missing value
# fill missing value
# transfe all ctg to numerical using map 
# based on the target column devide your data and perform train test split

In [6]:
df.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [8]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [9]:
# df['sex'] = df['sex'].map({'Female':0,'Male':1})
# df['sex']= df['sex'].astype(int)

In [10]:
# df['smoker'] = df['smoker'].map({'Yes':1,'No':0})
# df['smoker'] = df['smoker'].astype(int)

In [11]:
# df['day'] = df['day'].map({'Sun':0,'Sat':1,'Thur':2,'Fri':3})
# df['day'] = df['day'].astype(int)

In [12]:
# df['time'] = df['time'].map({'Dinner':1, 'Lunch':0})
# df['time'] = df['time'].astype(int)

In [13]:
df_cat = df.select_dtypes(include= "category").columns.to_list()

In [14]:
### to convert all categorial data into numerical by the help of for loop
for i in df_cat:
  uni = df[i].unique().tolist()
  num = 0
  empty = {}
  for j in uni :
    empty[j] = num
    num +=1
  df[i]=df[i].map(empty)

TRAIN TEST SPLIT :-

In [15]:
x = df.drop(columns='time')

In [16]:
y = df['time']

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test = train_test_split(
    x,y,
    test_size=0.3,
    random_state=4
)

In [19]:
print("Total shape of df:", df.shape)
print("------------------------------------")
print("Input data shape:", x.shape)
print("x_train data shape:", x_train.shape)
print("x_test data shape:", x_test.shape)
print("---------------------------------")
print("Target data shape:", y.shape)
print("y_train data shape:", y_train.shape)
print("y_test data shape:", y_test.shape)

Total shape of df: (244, 7)
------------------------------------
Input data shape: (244, 6)
x_train data shape: (170, 6)
x_test data shape: (74, 6)
---------------------------------
Target data shape: (244,)
y_train data shape: (170,)
y_test data shape: (74,)

NORMALISING :-  
        Normalisation are of 4 type 
            # 1st :- Min Max Scaling