In [47]:
import numpy as np
import pandas as pd

In [48]:
df = pd.read_csv(r"C:\Users\asus\Downloads\Attrition - Attrition.csv")

In [49]:
df.isna().sum().sum()

np.int64(0)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [51]:
df_cat = df.select_dtypes(include=object)
df_cat.nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [52]:
df = df.drop(columns=['EducationField','JobRole','MaritalStatus'])

In [53]:
df['BusinessTravel'].unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [54]:
df['Attrition'] = df['Attrition'].map({'Yes':1,'No':0})

In [55]:
df_cat = df.select_dtypes(include= 'object').columns.tolist()

In [56]:
for i in df_cat:
  uni = df[i].unique().tolist()
  num = 0
  empty = {}
  for j in uni :
    empty[j] = num
    num +=1
  df[i]=df[i].map(empty)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   int64
 2   BusinessTravel            1470 non-null   int64
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   int64
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EmployeeCount             1470 non-null   int64
 8   EmployeeNumber            1470 non-null   int64
 9   EnvironmentSatisfaction   1470 non-null   int64
 10  Gender                    1470 non-null   int64
 11  HourlyRate                1470 non-null   int64
 12  JobInvolvement            1470 non-null   int64
 13  JobLevel                  1470 non-null   int64
 14  JobSatisfaction           1470 non-null   int64
 15  MonthlyIncome             1470 non-null   int64
 16  MonthlyRate               1470 non-null   int64
 17  NumCompaniesWorked        1470 non-null   int64
 18  Over18                    1470 non-null   int64
 19  OverTime                  1470 non-null   int64
 20  PercentSalaryHike         1470 non-null   int64
 21  PerformanceRating         1470 non-null   int64
 22  RelationshipSatisfaction  1470 non-null   int64
 23  StandardHours             1470 non-null   int64
 24  StockOptionLevel          1470 non-null   int64
 25  TotalWorkingYears         1470 non-null   int64
 26  TrainingTimesLastYear     1470 non-null   int64
 27  WorkLifeBalance           1470 non-null   int64
 28  YearsAtCompany            1470 non-null   int64
 29  YearsInCurrentRole        1470 non-null   int64
 30  YearsSinceLastPromotion   1470 non-null   int64
 31  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(32)
memory usage: 367.6 KB

In [58]:
x = df.drop(columns='Attrition')

In [59]:
y = df['Attrition']

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
x_train,x_test,y_train , y_test = train_test_split(x,
y,
test_size=0.3,
random_state=40)

In [62]:
print("Total shape of df:", df.shape)
print("------------------------------------")
print("Input data shape:", x.shape)
print("x_train data shape:", x_train.shape)
print("x_test data shape:", x_test.shape)
print("---------------------------------")
print("Target data shape:", y.shape)
print("y_train data shape:", y_train.shape)
print("y_test data shape:", y_test.shape)

Total shape of df: (1470, 32)
------------------------------------
Input data shape: (1470, 31)
x_train data shape: (1029, 31)
x_test data shape: (441, 31)
---------------------------------
Target data shape: (1470,)
y_train data shape: (1029,)
y_test data shape: (441,)

In [63]:
from sklearn.preprocessing import MinMaxScaler

In [64]:
mn = MinMaxScaler()

In [65]:
x_train_mn = mn.fit_transform(x_train)

In [66]:
x_train_new = pd. DataFrame(x_train_mn, columns = x_train. columns)

In [67]:
np.round(x_train_new.describe(),2)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1029.00,1029.00,1029.00,1029.00,1029.00,1029.00,1029.0,1029.00,1029.00,1029.00,...,1029.00,1029.0,1029.00,1029.00,1029.00,1029.00,1029.00,1029.00,1029.00,1029.00
mean,0.45,0.20,0.50,0.37,0.30,0.48,0.0,0.50,0.58,0.60,...,0.57,0.0,0.27,0.28,0.47,0.59,0.17,0.23,0.15,0.24
std,0.21,0.34,0.29,0.26,0.29,0.25,0.0,0.29,0.36,0.49,...,0.36,0.0,0.29,0.19,0.21,0.23,0.15,0.20,0.21,0.20
min,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.29,0.00,0.26,0.00,0.04,0.25,0.0,0.24,0.33,0.00,...,0.33,0.0,0.00,0.15,0.33,0.33,0.08,0.11,0.00,0.12
50%,0.40,0.00,0.50,0.50,0.21,0.50,0.0,0.49,0.67,1.00,...,0.67,0.0,0.33,0.25,0.50,0.67,0.12,0.17,0.07,0.18
75%,0.60,0.50,0.76,0.50,0.46,0.75,0.0,0.76,1.00,1.00,...,1.00,0.0,0.33,0.38,0.50,0.67,0.22,0.39,0.20,0.41
max,1.00,1.00,1.00,1.00,1.00,1.00,0.0,1.00,1.00,1.00,...,1.00,0.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00