In [1]:
# Encoding --- > Transform your categorical data into Numerical data .

# (1). Label -- > 1-1 column apply but we cannot set the order manually .
# (2). Ordinal -- > multi-column apply and we can set the order manually .
# (3). OneHotEncoder --- > has_covid[yes, no] -- > 2 column create -- > covid_yes, covid_no .
# (4). get_dummies --- > has_covid[yes, no] -- > 2 column create -- > column name with values .

In [2]:
import numpy as np
import pandas as pd

In [3]:
# 1st :- lable encoder

In [4]:
df = pd.read_csv(r"C:\Users\asus\Downloads\covid_toy - covid_toy.csv")

In [5]:
df = df.dropna()

In [6]:
df = df.drop(columns = ['city'])

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
lb = LabelEncoder()

In [9]:
df['gender' ]= lb. fit_transform(df['gender' ])
df['cough' ]= lb. fit_transform(df['cough'])
df['has_covid' ]= lb.fit_transform(df['has_covid'])

In [10]:
# df.head()

In [11]:
# 2nd :- OrdinalEncoder

In [12]:
df = pd.read_csv(r"C:\Users\asus\Downloads\covid_toy - covid_toy.csv")

In [13]:
df = df.dropna()

In [14]:
df = df.drop(columns=['city','age','fever'])
df

    gender   cough has_covid
0     Male    Mild        No
1     Male    Mild       Yes
2     Male    Mild        No
3   Female    Mild        No
4   Female    Mild        No
..     ...     ...       ...
95  Female    Mild        No
96  Female  Strong       Yes
97  Female    Mild        No
98  Female  Strong        No
99  Female  Strong       Yes

[90 rows x 3 columns]

In [15]:
df_new = df.copy()

In [16]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
oe = OrdinalEncoder(categories = [['Male', 'Female' ],
                                ['Mild','Strong'],
                                ['No','Yes']])

In [18]:
oe_df = oe.fit_transform(df)

In [19]:
df_oe = pd.DataFrame(oe_df , columns = df_new.columns)

In [35]:
# df_oe.head()

In [21]:
# 3rd :- OneHotEncoder

In [22]:
df = pd.read_csv(r"C:\Users\asus\Downloads\covid_toy - covid_toy.csv")

In [23]:
df = df.dropna()

In [24]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:

ohe = OneHotEncoder(drop = 'first' , sparse_output = False , dtype = np.int32)

# it will drop the first sub catagory of each column and reult will be like 
# gender --- > f
# cough --- > s
# city --- > m,b,k
# has_covid --- > n

In [ ]:
x = ohe.fit_transform(df[['gender','cough','city','has_covid']])
x

array([[1, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 1],
       [0, 1, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 1, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 0, 1, 0, 0],
       [0, 1, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [1, 1, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [0, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 1, 0, 1, 0, 1]], dtype=int32)

In [27]:
# gender --- > f
# cough --- > s
# city --- > m,b,k
# has_covid --- > n

In [28]:
# 4th :- GetDumies

In [29]:
df = pd.read_csv(r"C:\Users\asus\Downloads\covid_toy - covid_toy.csv")

In [30]:
df = df.dropna()

In [31]:
df = pd.get_dummies(df , columns = ['gender', 'cough','city', 'has_covid' ] , drop_first = True)

In [32]:
df = df.astype(int)

In [33]:
df.head()

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103,1,0,0,1,0,0
1,27,100,1,0,1,0,0,1
2,42,101,1,0,1,0,0,0
3,31,98,0,0,0,1,0,0
4,65,101,0,0,0,0,1,0