In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv(r"C:\Users\asus\Downloads\Attrition - Attrition.csv")

In [ ]:
df = df.drop(columns=['EducationField','JobRole','MaritalStatus'])

In [ ]:
df_cat = df.select_dtypes(include= 'object').columns.tolist()

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
lb = LabelEncoder()

In [ ]:
for x in df_cat:
    df[x] = lb.fit_transform(df[x])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   int64
 2   BusinessTravel            1470 non-null   int64
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   int64
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EmployeeCount             1470 non-null   int64
 8   EmployeeNumber            1470 non-null   int64
 9   EnvironmentSatisfaction   1470 non-null   int64
 10  Gender                    1470 non-null   int64
 11  HourlyRate                1470 non-null   int64
 12  JobInvolvement            1470 non-null   int64
 13  JobLevel                  1470 non-null   int64
 14  JobSatisfaction           1470 non-null   int64
 15  MonthlyIncome             1470 non-null   int64
 16  MonthlyRate               1470 non-null   int64
 17  NumCompaniesWorked        1470 non-null   int64
 18  Over18                    1470 non-null   int64
 19  OverTime                  1470 non-null   int64
 20  PercentSalaryHike         1470 non-null   int64
 21  PerformanceRating         1470 non-null   int64
 22  RelationshipSatisfaction  1470 non-null   int64
 23  StandardHours             1470 non-null   int64
 24  StockOptionLevel          1470 non-null   int64
 25  TotalWorkingYears         1470 non-null   int64
 26  TrainingTimesLastYear     1470 non-null   int64
 27  WorkLifeBalance           1470 non-null   int64
 28  YearsAtCompany            1470 non-null   int64
 29  YearsInCurrentRole        1470 non-null   int64
 30  YearsSinceLastPromotion   1470 non-null   int64
 31  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(32)
memory usage: 367.6 KB

In [ ]:
x = df.drop(columns='Attrition')

In [ ]:
y = df['Attrition']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train , y_test = train_test_split(x,
y,
test_size=0.3,
random_state=40)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
mn = MinMaxScaler()

In [ ]:
x_train_mn = mn.fit_transform(x_train)

In [ ]:
x_train_new = pd. DataFrame(x_train_mn, columns = x_train. columns)

In [ ]:
np.round(x_train_new.describe(),2)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1029.00,1029.00,1029.00,1029.00,1029.00,1029.00,1029.0,1029.00,1029.00,1029.00,...,1029.00,1029.0,1029.00,1029.00,1029.00,1029.00,1029.00,1029.00,1029.00,1029.00
mean,0.45,0.80,0.50,0.63,0.30,0.48,0.0,0.50,0.58,0.60,...,0.57,0.0,0.27,0.28,0.47,0.59,0.17,0.23,0.15,0.24
std,0.21,0.34,0.29,0.26,0.29,0.25,0.0,0.29,0.36,0.49,...,0.36,0.0,0.29,0.19,0.21,0.23,0.15,0.20,0.21,0.20
min,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.29,0.50,0.26,0.50,0.04,0.25,0.0,0.24,0.33,0.00,...,0.33,0.0,0.00,0.15,0.33,0.33,0.08,0.11,0.00,0.12
50%,0.40,1.00,0.50,0.50,0.21,0.50,0.0,0.49,0.67,1.00,...,0.67,0.0,0.33,0.25,0.50,0.67,0.12,0.17,0.07,0.18
75%,0.60,1.00,0.76,1.00,0.46,0.75,0.0,0.76,1.00,1.00,...,1.00,0.0,0.33,0.38,0.50,0.67,0.22,0.39,0.20,0.41
max,1.00,1.00,1.00,1.00,1.00,1.00,0.0,1.00,1.00,1.00,...,1.00,0.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00