HERE I TRY TO NORMALISE AND STANDERIZE THE GIVEN DATA WHILE ALSO USING THE LABLE ENCODER

In [1]:
# STEPS TO DO :- 
    # fill null values 
    # remove the catagorical columns having more than 2,3 unique values 
    # convert the remaining catagorical columns into numerical columns (use lable encoder)
    # split the data using train test split
    # normalise
    # standerize

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\asus\Downloads\Attrition - Attrition.csv")

In [4]:
df.isna().sum().sum()       # null values check

np.int64(0)

In [5]:
df_Cat = df.select_dtypes(include='object')
df_Cat.nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [6]:
df = df.drop(columns=['EducationField','JobRole','MaritalStatus'])          # droping unwanted columns
df_Cat = df_Cat.drop(columns=['EducationField','JobRole','MaritalStatus'])

In [7]:
from sklearn.preprocessing import LabelEncoder          # importing lable encoder class

In [8]:
lb = LabelEncoder()             # creating objecct of lable encoder

In [9]:
df_Cat_list = df.select_dtypes(include='object').columns.tolist()       # creating list of column names

In [10]:
for x in df_Cat_list:
    df[x]= lb.fit_transform(df[x])              # converting all catagorical columns to numerical using the lable encoder

In [11]:
# df.info()

In [12]:
# NOW TRAIN TEST SPLIT :-

In [13]:
x = df.drop(columns=['Attrition'])

In [14]:
y = df['Attrition']

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(
    x,y,
    test_size=0.2,
    random_state=40
)

In [17]:
# NOW STANDAZATION :-

In [18]:
from sklearn.preprocessing import StandardScaler            # importing standered scaler class

In [19]:
sc = StandardScaler()           # creaating object

In [20]:
x_train_sc = sc.fit_transform(x_train)          # standerizing the x_train data

In [21]:
x_train_new = pd.DataFrame(x_train_sc, columns=x_train.columns)         # coverting the standarized data into a DF

In [22]:
np.round(x_train_new.describe(),2)      # rounding for visualisation because there are a lot of digits after the decimals

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.0,1176.00,1176.00,1176.00,...,1176.00,1176.0,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00
mean,-0.00,0.00,-0.00,-0.00,0.00,0.00,0.0,-0.00,0.00,-0.00,...,-0.00,0.0,0.00,-0.00,-0.00,0.00,-0.00,0.00,0.00,-0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,0.0,1.00,1.00,1.00,...,1.00,0.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-2.08,-2.37,-1.74,-2.39,-1.01,-1.89,0.0,-1.69,-1.61,-1.22,...,-1.60,0.0,-0.93,-1.46,-2.17,-2.51,-1.17,-1.19,-0.69,-1.16
25%,-0.76,-0.89,-0.84,-0.49,-0.89,-0.90,0.0,-0.88,-0.68,-1.22,...,-0.67,0.0,-0.93,-0.67,-0.63,-1.08,-0.66,-0.62,-0.69,-0.59
50%,-0.10,0.60,0.00,-0.49,-0.27,0.09,0.0,-0.03,0.24,0.82,...,0.26,0.0,0.22,-0.15,0.14,0.35,-0.32,-0.33,-0.37,-0.30
75%,0.67,0.60,0.90,1.41,0.59,1.07,0.0,0.88,1.16,0.82,...,1.19,0.0,0.22,0.50,0.14,0.35,0.36,0.81,0.26,0.85
max,2.55,0.60,1.72,1.41,2.44,2.06,0.0,1.73,1.16,0.82,...,1.19,0.0,2.52,3.77,2.45,1.77,5.61,3.94,4.06,3.73

In [23]:
# NORMALISATION(minmaxscaling) :-

In [24]:
from sklearn.preprocessing import MinMaxScaler        # importing the minmaxscaler class

In [25]:
mn = MinMaxScaler()         # creating object of the class

In [26]:
x_train_new = mn.fit_transform(x_train_new)

In [27]:
x_train_new = pd.DataFrame(x_train_new,columns=x_train.columns)

In [28]:
np.round(x_train_new.describe(),2)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.0,1176.00,1176.00,1176.00,...,1176.00,1176.0,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00
mean,0.45,0.80,0.50,0.63,0.29,0.48,0.0,0.50,0.58,0.60,...,0.57,0.0,0.27,0.28,0.47,0.59,0.17,0.23,0.15,0.24
std,0.22,0.34,0.29,0.26,0.29,0.25,0.0,0.29,0.36,0.49,...,0.36,0.0,0.29,0.19,0.22,0.23,0.15,0.20,0.21,0.20
min,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.29,0.50,0.26,0.50,0.04,0.25,0.0,0.24,0.33,0.00,...,0.33,0.0,0.00,0.15,0.33,0.33,0.07,0.11,0.00,0.12
50%,0.43,1.00,0.50,0.50,0.21,0.50,0.0,0.49,0.67,1.00,...,0.67,0.0,0.33,0.25,0.50,0.67,0.12,0.17,0.07,0.18
75%,0.60,1.00,0.76,1.00,0.46,0.75,0.0,0.75,1.00,1.00,...,1.00,0.0,0.33,0.38,0.50,0.67,0.22,0.39,0.20,0.41
max,1.00,1.00,1.00,1.00,1.00,1.00,0.0,1.00,1.00,1.00,...,1.00,0.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [29]:
# AS you can see the effect of standerization has been removed/undone
# so it is not usually a good idea to both standerize and normalise a dataset