In [116]:
import numpy as np 
import pandas as pd 
import seaborn as sns

In [117]:
# 1st :- lable encoder

In [118]:
df = sns.load_dataset('Tips')
df = df.dropna()

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [120]:
from sklearn.preprocessing import LabelEncoder

In [121]:
lb = LabelEncoder()

In [122]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [123]:
df

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    2     0     2
1         10.34  1.66    1       0    2     0     3
2         21.01  3.50    1       0    2     0     3
3         23.68  3.31    1       0    2     0     2
4         24.59  3.61    0       0    2     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    1     0     3
240       27.18  2.00    0       1    1     0     2
241       22.67  2.00    1       1    1     0     2
242       17.82  1.75    1       0    1     0     2
243       18.78  3.00    0       0    3     0     2

[244 rows x 7 columns]

In [124]:
# 2nd :- OrdinalEncoderf

In [125]:
df = sns.load_dataset('Tips')
df = df.dropna()

In [126]:
from sklearn.preprocessing import OrdinalEncoder

In [127]:
df = df.drop(columns=['total_bill','tip','size'])

In [128]:
oe = OrdinalEncoder( categories=[
    ['Female','Male'],
    ['No','Yes'],
    ['Sun', 'Sat', 'Thur', 'Fri'],
    ['Dinner', 'Lunch']
])

In [129]:
cpoe = df

In [130]:
new_oe = oe.fit_transform(df)       
# this works but the result is an array and we need df

In [131]:
new_oe = pd.DataFrame(new_oe,columns=cpoe.columns)

In [132]:
new_oe.sample(3)

     sex  smoker  day  time
211  1.0     1.0  1.0   0.0
222  1.0     1.0  3.0   1.0
23   1.0     0.0  1.0   0.0

In [133]:
# 3rd :- OneHotEncoder

In [134]:
df = sns.load_dataset('Tips')
df = df.dropna()

In [135]:
from sklearn.preprocessing import OneHotEncoder

In [136]:
ohe = OneHotEncoder(drop = 'first' , sparse_output = False , dtype = np.int32)

In [ ]:
x = ohe.fit_transform(df[['sex','smoker','day','time']])
x

array([[0, 0, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 0],
       ...,
       [1, 1, 1, 0, 0, 0],
       [1, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 0]], shape=(244, 6), dtype=int32)

In [138]:
# 4th :- Get_dummies

In [139]:
df = sns.load_dataset('Tips')
df = df.dropna()

In [140]:
df = pd.get_dummies(df,columns=['sex','smoker','day','time'],drop_first=True)

In [142]:
df = df.astype(int)

In [143]:
df

,total_bill,tip,size,sex_Male,smoker_Yes,day_Sat,day_Sun,day_Thur,time_Lunch
0,16,1,2,0,0,0,1,0,0
1,10,1,3,1,0,0,1,0,0
2,21,3,3,1,0,0,1,0,0
3,23,3,2,1,0,0,1,0,0
4,24,3,4,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
239,29,5,3,1,0,1,0,0,0
240,27,2,2,0,1,1,0,0,0
241,22,2,2,1,1,1,0,0,0
242,17,1,2,1,0,1,0,0,0
243,18,3,2,0,0,0,0,1,0