In [41]:
import pandas as pd 
import numpy as np

In [42]:
dfog = pd.read_csv(r"C:\Users\asus\Downloads\covid_toy - covid_toy.csv")
dfog = dfog.dropna()

In [43]:
dfog.sample(5)

    age  gender  fever   cough       city has_covid
22   71  Female   98.0  Strong    Kolkata       Yes
45   72    Male   99.0    Mild  Bangalore        No
36   38  Female  101.0    Mild  Bangalore        No
95   12  Female  104.0    Mild  Bangalore        No
68   54  Female  104.0  Strong    Kolkata        No

In [ ]:
#   15 git add .
#   16 git commit -m "added"
#   17 git commit -m "all-done"
#   18 git push -u origin main

In [44]:
# 1st :- lableencoder

In [45]:
df = dfog

In [46]:
from sklearn.preprocessing import LabelEncoder

In [47]:
lb = LabelEncoder()

In [48]:
df['gender']=lb.fit_transform(df['gender'])
df['cough']=lb.fit_transform(df['cough'])
df['city']=lb.fit_transform(df['city'])
df['has_covid']=lb.fit_transform(df['has_covid'])

In [49]:
df.sample(5)

    age  gender  fever  cough  city  has_covid
71   75       0  104.0      1     1          0
79   48       0  103.0      0     2          1
54   60       0   99.0      0     3          1
16   69       0  103.0      0     2          1
50   19       1  101.0      0     1          1

spliting:-

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
x = df.drop(columns=['has_covid'])
y = df['has_covid']

In [52]:
x_train,x_test,y_train,y_test = train_test_split(
    x,y,
    test_size=0.2,
    random_state=40
)

standerizing:-

In [53]:
from sklearn.preprocessing import StandardScaler

In [54]:
sc = StandardScaler()

In [55]:
x_train_sc = sc.fit_transform(x_train)

In [56]:
x_train_new = pd.DataFrame(x_train_sc,columns=x_train.columns)

In [57]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  72.00   72.00  72.00  72.00  72.00
mean   -0.00    0.00  -0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.49   -0.89  -1.36  -0.75  -1.26
25%    -0.93   -0.89  -0.87  -0.75  -1.26
50%    -0.03   -0.89   0.12  -0.75  -0.32
75%     0.88    1.12   0.62   1.33   0.63
max     1.59    1.12   1.61   1.33   1.58

MinMaxScaling :-

In [58]:
from sklearn.preprocessing import MinMaxScaler

In [59]:
mn = MinMaxScaler()

In [60]:
x_train_mn = mn.fit_transform(x_train)

In [61]:
x_train_mn_new = pd.DataFrame(x_train_mn,columns=x_train.columns)

In [62]:
np.round(x_train_mn_new.describe(),2)

         age  gender  fever  cough   city
count  72.00   72.00  72.00  72.00  72.00
mean    0.48    0.44   0.46   0.36   0.44
std     0.33    0.50   0.34   0.48   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.18    0.00   0.17   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.77    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

In [63]:
# OrdinalEncoder :-

In [64]:
from sklearn.preprocessing import OrdinalEncoder

In [65]:
df = pd.read_csv(r"C:\Users\asus\Downloads\covid_toy - covid_toy.csv")
df = df.dropna()

In [66]:
df.sample(5)

    age  gender  fever   cough     city has_covid
17   40  Female   98.0  Strong    Delhi        No
38   49  Female  101.0    Mild    Delhi       Yes
11   65  Female   98.0    Mild   Mumbai       Yes
80   14  Female   99.0    Mild   Mumbai       Yes
83   17  Female  104.0    Mild  Kolkata        No

In [67]:
df = df.drop(columns=['age','fever'])

In [68]:
oecp = df

In [69]:
oe = OrdinalEncoder(categories=[
    ['Female','Male'],
    ['Mild','Strong',],
    ['Kolkata', 'Delhi', 'Mumbai', 'Bangalore'],
    ['No','Yes']
])

In [70]:
oe_new = oe.fit_transform(df)

In [71]:
oe_new = pd.DataFrame(oe_new,columns=oecp.columns)

In [72]:
oe_new.sample(5)

    gender  cough  city  has_covid
77     0.0    0.0   3.0        1.0
45     0.0    1.0   3.0        1.0
16     1.0    1.0   3.0        0.0
67     1.0    0.0   0.0        1.0
30     0.0    0.0   3.0        0.0

In [73]:
# OneHotEncoder :-

In [74]:
df = pd.read_csv(r"C:\Users\asus\Downloads\covid_toy - covid_toy.csv")
df = df.dropna()

In [75]:
from sklearn.preprocessing import OneHotEncoder

In [76]:
df.sample()

    age  gender  fever   cough   city has_covid
17   40  Female   98.0  Strong  Delhi        No

In [77]:
ohe = OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [79]:
df_ohe = ohe.fit_transform(df[['gender','cough','city','has_covid']])

In [81]:
df_ohe

array([[1, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 1],
       [0, 1, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 1, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 0, 1, 0, 0],
       [0, 1, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [1, 1, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [0, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 1, 0, 1, 0, 1]], dtype=int32)

In [ ]:
# get dummies

In [82]:
df = pd.read_csv(r"C:\Users\asus\Downloads\covid_toy - covid_toy.csv")
df = df.dropna()

In [83]:
df_new = pd.get_dummies(df,columns=['gender','cough','city','has_covid'],drop_first=True)

In [91]:
df_new=df_new.astype(int)

In [93]:
df_new.sample(5)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
76,80,100,1,0,0,0,0,1
28,16,104,1,0,0,1,0,0
35,82,102,0,1,0,0,0,0
37,55,100,1,0,0,1,0,0
62,56,104,0,1,0,0,0,1

In [94]:
df_new.describe()

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000
mean,43.044444,100.844444,0.400000,0.366667,0.222222,0.322222,0.144444,0.422222
std,24.651235,2.054926,0.492642,0.484594,0.418069,0.469946,0.353509,0.496681
min,5.000000,98.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.250000,99.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,45.000000,101.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,65.000000,102.750000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000
max,83.000000,104.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Standerizing :-

In [95]:
xt_sc = sc.fit_transform(x_train)

In [96]:
xt_sc = pd.DataFrame(xt_sc,columns=x_train.columns)

In [97]:
np.round(xt_sc.describe(),2)

         age  gender  fever  cough   city
count  72.00   72.00  72.00  72.00  72.00
mean   -0.00    0.00  -0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.49   -0.89  -1.36  -0.75  -1.26
25%    -0.93   -0.89  -0.87  -0.75  -1.26
50%    -0.03   -0.89   0.12  -0.75  -0.32
75%     0.88    1.12   0.62   1.33   0.63
max     1.59    1.12   1.61   1.33   1.58

normalising :- (minmaxscaling)

In [98]:
x_mn = mn.fit_transform(x_train)

In [99]:
x_mn = pd.DataFrame(x_mn,columns=x_train.columns)

In [100]:
np.round(x_mn.describe(),2)

         age  gender  fever  cough   city
count  72.00   72.00  72.00  72.00  72.00
mean    0.48    0.44   0.46   0.36   0.44
std     0.33    0.50   0.34   0.48   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.18    0.00   0.17   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.77    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00