In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\asus\Downloads\insurance - insurance.csv")

In [4]:
df.sample(4)

      age   sex    bmi  children smoker     region     charges
190    61  male  31.57         0     no  southeast  12557.6053
1116   41  male  29.64         5     no  northeast   9222.4026
1173   38  male  29.26         2     no  northwest   6457.8434
338    50  male  32.30         1    yes  northeast  41919.0970

In [8]:
# df.isna().sum()

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer

In [9]:
x_train , x_test , y_train , y_test = train_test_split(df.drop(columns=['charges']),df['charges'],test_size=0.2,random_state=34)

In [11]:
processed = ColumnTransformer(transformers=[
    ('tnf1',OneHotEncoder(drop='first',sparse_output=False),['sex','smoker','region'])
],remainder='passthrough')

In [14]:
z=processed.fit_transform(x_train)

In [17]:
y = processed.get_feature_names_out()

In [18]:
newDF = pd.DataFrame(z,columns=y)

In [19]:
newDF.sample(5)

,tnf1__sex_male,tnf1__smoker_yes,tnf1__region_northwest,tnf1__region_southeast,tnf1__region_southwest,remainder__age,remainder__bmi,remainder__children
685,1.0,0.0,0.0,1.0,0.0,29.0,38.940,1.0
938,0.0,1.0,0.0,0.0,0.0,27.0,17.955,2.0
659,1.0,0.0,0.0,0.0,1.0,57.0,43.700,1.0
673,1.0,0.0,0.0,1.0,0.0,50.0,37.070,1.0
705,1.0,0.0,0.0,0.0,0.0,58.0,34.865,0.0