In [43]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import FunctionTransformer

In [44]:
df = pd.read_csv(r"C:\Users\asus\Downloads\insurance - insurance.csv")

In [45]:
df.sample(5)

     age     sex     bmi  children smoker     region      charges
478   21    male  36.850         0     no  southeast   1534.30450
351   50  female  25.600         0     no  southwest   8932.08400
648   18    male  28.500         0     no  northeast   1712.22700
428   21  female  16.815         1     no  northeast   3167.45585
75    57    male  34.010         0     no  northwest  11356.66090

In [46]:
from sklearn.preprocessing import LabelEncoder

In [47]:
lb = LabelEncoder()

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['region'] = lb.fit_transform(df['region'])

In [50]:
x = df.drop(columns=['charges'])
y = df['charges']

In [51]:
log_transform = FunctionTransformer(np.log1p)

y_transformed = log_transform.transform(y)

print(y_transformed)

0        9.734236
1        7.453882
2        8.400763
3        9.998137
4        8.260455
          ...
1333     9.268755
1334     7.699381
1335     7.396847
1336     7.605365
1337    10.279948
Name: charges, Length: 1338, dtype: float64

In [52]:
log_transform = FunctionTransformer(np.log1p)

x_transformed = log_transform.transform(x)

print(x_transformed)

           age       sex       bmi  children    smoker    region
0     2.995732  0.000000  3.363842  0.000000  0.693147  1.386294
1     2.944439  0.693147  3.548755  0.693147  0.000000  1.098612
2     3.367296  0.693147  3.526361  1.386294  0.000000  1.098612
3     3.526361  0.693147  3.165686  0.000000  0.000000  0.693147
4     3.496508  0.693147  3.397189  0.000000  0.000000  0.693147
...        ...       ...       ...       ...       ...       ...
1333  3.931826  0.693147  3.464798  1.386294  0.000000  0.693147
1334  2.944439  0.000000  3.494080  0.000000  0.000000  0.000000
1335  2.944439  0.000000  3.633631  0.000000  0.000000  1.098612
1336  3.091042  0.000000  3.288402  0.000000  0.000000  1.386294
1337  4.127134  0.000000  3.403528  0.000000  0.693147  0.693147

[1338 rows x 6 columns]