In [81]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer       
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [82]:
df = sns.load_dataset('Tips')

In [83]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [84]:
df.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [85]:
x = df.drop(columns=['smoker'])
y = df['smoker']

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=34)

In [88]:
from sklearn.compose import ColumnTransformer

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [90]:
df['smoker'].unique()

array(['No', 'Yes'], dtype=object)

In [91]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [92]:
transformer = ColumnTransformer(transformers=
    [
        ('tnf3',OneHotEncoder(sparse_output=False, drop='first' ), ['sex','day','time'])
    ],remainder='passthrough'
)

In [ ]:
transformer.fit_transform(x_train).shape

array([[ 1.  ,  1.  ,  0.  , ..., 12.6 ,  1.  ,  2.  ],
       [ 1.  ,  0.  ,  1.  , ..., 12.54,  2.5 ,  2.  ],
       [ 1.  ,  0.  ,  0.  , ..., 17.29,  2.71,  2.  ],
       ...,
       [ 1.  ,  1.  ,  0.  , ..., 15.53,  3.  ,  2.  ],
       [ 1.  ,  0.  ,  0.  , ..., 14.26,  2.5 ,  2.  ],
       [ 1.  ,  0.  ,  1.  , ..., 12.66,  2.5 ,  2.  ]], shape=(195, 8))