In [77]:
# 1 . Apply columntransformer on Insrnace dataSet 
# 2. Tips data ---> encoding ---> Standardization

In [78]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [79]:
df = pd.read_csv(r"C:\Users\asus\Downloads\insurance - insurance.csv")

In [80]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [82]:
x = df.drop(columns=['charges'])
y = df['charges']

In [83]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y, test_size = 0.2,random_state=34)

In [84]:
ohe =OneHotEncoder(drop='first',sparse_output=False)

In [85]:
x_train.head()

      age     sex     bmi  children smoker     region
414    19  female  35.150         0     no  northwest
1279   25  female  26.790         2     no  northwest
647    40  female  23.370         3     no  northeast
764    45  female  25.175         2     no  northeast
1133   52  female  18.335         0     no  northwest

In [86]:
x_train_sex_smoker_region = ohe.fit_transform(x_train[['sex','smoker','region']])

In [87]:
x_train_sex_smoker_region

array([[0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0.],
       ...,
       [1., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [1., 1., 0., 0., 1.]], shape=(1070, 5))

In [88]:
x_test_sex_smoker_region =ohe.fit_transform(x_test[['sex','smoker','region']])

In [89]:
x_train_rem = x_train.drop(columns=['sex','region','smoker'])

In [90]:
x_train_rem.head()

      age     bmi  children
414    19  35.150         0
1279   25  26.790         2
647    40  23.370         3
764    45  25.175         2
1133   52  18.335         0

In [91]:
x_train_rem.shape

(1070, 3)

In [92]:
x_train_sex_smoker_region.shape

(1070, 5)

In [93]:
x_train_merged = np.concatenate((x_train_sex_smoker_region,x_train_rem),axis=1)

In [94]:
x_train_merged.shape

(1070, 8)

In [95]:
from sklearn.compose import ColumnTransformer

In [96]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',OneHotEncoder(sparse_output=False, drop='first'),['sex','smoker','region'])
],remainder='passthrough')

In [97]:
transformer.fit_transform(x_train).shape

(1070, 8)

In [98]:
import seaborn as sns

In [99]:
df2 = sns.load_dataset('Tips')

In [100]:
df2.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [101]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [102]:
df2_cat = df2.select_dtypes(object).columns.tolist()

In [103]:
from sklearn.preprocessing import LabelEncoder

In [104]:
lb = LabelEncoder()

In [105]:
for x in df2_cat:
    df2[x] = lb.fit_transform(df2[x])

In [106]:
x_train,x_test,y_train,y_test = train_test_split(df2.drop(columns=['tip']),df2['tip'],test_size=0.2,random_state=34)

In [107]:
from sklearn.preprocessing import StandardScaler

In [108]:
sc = StandardScaler()

In [109]:
x_train_sc = sc.fit_transform(x_train)

In [110]:
x_train_new = pd.DataFrame(x_train_sc,columns=x_train.columns)

In [111]:
np.round(x_train_new.describe() , 2)

       total_bill     sex  smoker    day    time    size
count      195.00  195.00  195.00  195.0  195.00  195.00
mean        -0.00    0.00   -0.00   -0.0    0.00   -0.00
std          1.00    1.00    1.00    1.0    1.00    1.00
min         -1.92   -1.41   -0.82   -1.9   -0.60   -1.67
25%         -0.71   -1.41   -0.82   -0.8   -0.60   -0.61
50%         -0.26    0.71   -0.82    0.3   -0.60   -0.61
75%          0.51    0.71    1.22    0.3    1.68    0.45
max          3.41    0.71    1.22    1.4    1.68    3.63