In [39]:
import numpy as np 
import pandas as pd

Assignment 1 :-

In [40]:
df = pd.read_csv(r"C:\Users\asus\Downloads\titanic - titanic.csv")

In [41]:
df.shape

(418, 12)

In [42]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [43]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [44]:
# df.isna().sum()

assignment 2:-

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
x = df.drop(columns=['Survived'])
y =df['Survived']

In [47]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [48]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

assignment 3 :-

In [50]:
ct = ColumnTransformer(transformers=[
    ('tnf1',OneHotEncoder(sparse_output=False,drop='first',handle_unknown='ignore'),['Name','Sex','Ticket','Cabin','Embarked']),
],remainder='passthrough')

In [51]:
x_train_transformed = ct.fit_transform(x_train)
x_test_transformed = ct.fit_transform(x_test)

assignment 4 :-

In [52]:
from sklearn.preprocessing import StandardScaler

In [53]:
sc = StandardScaler()

In [54]:
ct2 = ColumnTransformer(transformers=[
    ('tnf1',StandardScaler(),['Fare','Age'])
],remainder='passthrough')

assignment 6:-

In [55]:
from sklearn.preprocessing import FunctionTransformer